div table tr td {
  border-radius: 20%;
  border: 2px black solid;
  margin: 5px;
  background-color: white;
  width: 20px;
  height: 20px;
  font-size: 10px;
  /* margin: 100px; */
  /* padding: 20px; */
}

/*--------------green-----------------------*/
tr:nth-child(4) td:nth-child(3) {
  background-color: rgb(13, 195, 98);
}

tr:nth-child(5) :nth-child(3) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(12) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(11) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(10) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(9) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(8) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(8) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(6) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(5) {
  background-color: rgb(13, 195, 98);
}

td:nth-child(4) {
  background-color: rgb(13, 195, 98);
}

tr:nth-child(4) :nth-child(7) {
  background-color: rgb(13, 195, 98);
}

tr:nth-child(5) :nth-child(7) {
  background-color: rgb(13, 195, 98);
}

tr:nth-child(6) :nth-child(7) {
  background-color: rgb(13, 195, 98);
}

tr:nth-child(7) :nth-child(7) {
  background-color: rgb(13, 195, 98);
}

/*-----------------blue------------------------*/
table:nth-child(1) :first-child {
  background-color: blue;
}

/*------------------brown------------------------*/
td:nth-child(2) {
  background-color: brown;
}

/*--------------row 1 case 1--------------------*/
tr:nth-child(2) td:nth-child(15) {
  background-color: yellow;
}

tr:nth-child(2) td:nth-child(14) {
  background-color: yellow;
}

tr:nth-child(2) td:nth-child(16) {
  background-color: yellow;
}

tr:nth-child(3) td:nth-child(16) {
  background-color: yellow;
}

tr:nth-child(3) td:nth-child(15) {
  background-color: yellow;
}

tr:nth-child(4) td:nth-child(16) {
  background-color: yellow;
}

/*------------------pink--------------------------*/
tr :last-child {
  background-color: fuchsia;
}

tr:nth-child(7) td:nth-child(16) {
  background-color: fuchsia;
}

/*------------------orange------------------------*/
tr :nth-child(17) {
  background-color: orange;
}

tr :nth-child(7) {
  background-color: orange;
}

tr:nth-child(7) td:nth-child(15) {
  background-color: orange;
}

/*----------------turquoise--------------------------*/

tr:nth-child(8) :nth-child(1n) {
  background-color: turquoise;
}

tr:nth-child(6) :nth-child(3) {
  background-color: turquoise;
}

/*----------------teal--------------------------*/
tr:nth-child(9) :nth-child(1n) {
  background-color: teal;
}

tr:nth-child(7) :nth-child(3) {
  background-color: teal;
}

/*----------------salmon--------------------------*/
tr:nth-child(5) td:nth-child(16) {
  background-color: salmon;
}

tr:nth-child(6) td:nth-child(16) {
  background-color: salmon;
}

tr:nth-child(3) td:nth-child(14) {
  background-color: salmon;
}

tr:nth-child(4) td:nth-child(15) {
  background-color: salmon;
}

tr:nth-child(5) td:nth-child(15) {
  background-color: salmon;
}

tr:nth-child(4) td:nth-child(14) {
  background-color: salmon;
}

/*----------------light pink--------------------------*/
tr:nth-child(2) td:nth-child(3) {
  background-color: pink;
}

tr:nth-child(3) td:nth-child(3) {
  background-color: pink;
}

tr:nth-child(5) td:nth-child(14) {
  background-color: pink;
}

tr:nth-child(6) td:nth-child(14) {
  background-color: pink;
}

tr:nth-child(7) td:nth-child(14) {
  background-color: pink;
}

td:nth-child(13) {
  background-color: pink;
}

tr:nth-child(6) td:nth-child(15) {
  background-color: pink;
}

/*------------------transparent----------------------*/

tr:nth-child(1) td:nth-child(4) {
  background-color: white;
}

tr:nth-child(8) td:nth-child(1) {
  background-color: white;
}

tr:nth-child(9) td:nth-child(1) {
  background-color: white;
}

tr:nth-child(9) td:last-child {
  background-color: white;
}

tr:nth-child(8) td:last-child {
  background-color: white;
}
tr:nth-child(2) {
  background-color: white;
}
